body {
  height:800px;
  
  background-image: linear-gradient(to left, #fcc30bff, #5b92e5ff, #3f7e44ff); /* Standard syntax (must be last) */
}

h1 {
  color:#ff0000;
  font-family: Impact;
  font-size: 72px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to left, #fcc30bff, #5b92e5ff, #3f7e44ff);
}

li {
  float: left;
}

li a {
  display: block;
  font-family: Impact;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
  background-color: #5b92e5ff;
}
.active {
  color: black;
  background-color: #5b92e5ff;
}